*{
	background-color: #272727;
}	
p{
	color:white;
}
@keyframes slidein1{
	from{
		left:100%;
	}
	to{
		left:0%;
	}
}
@keyframes slidein2{
	from{
		top:100%;
	}
	to{
		top:0%;
	}
}
.title img{
	position:relative;
	animation-duration: 0.5s;
	animation-name: slidein1;
}
.pic1 img{
	position:relative;
	top: 10px;
	left: 0px;
}
.pic1 p{
	position:relative;
	left:200px;
	font-size: 50px;
	color:dodgerblue;
	text-shadow: 0 5px 20px royalblue;
}

.title2 a{
	position: absolute;
	top: 3px;
	left: 85%;
	background-color: #272727;
	color: white;
	animation-duration: 0.5s;
	animation-name: slidein2;
}
.title3 a{
	position: absolute;
	top: 3px;
	left: 90%;
	text-decoration: None;
	background-color: #272727;
	color:white;
	animation-duration: 0.6s;
	animation-name: slidein2;
}

.title4 a{
	position: absolute;
	top: 3px;
	left: 95%;
	text-decoration: None;
	background-color: #272727;
	color:white;
	animation-duration: 0.7s;
	animation-name: slidein2;
}

.title21 p{
	position: relative;
	text-align: left;
	align: left;
	display: block;
	font-size: 60px;
	left:30%;
	color:white;
}
.title21 li{
	position: relative;
	font-size:20px;
	left: 30%;
	list-style: circle;
	color:white;
}
.title22 p{
	position: relative;
	text-align: left;
	align: left;
	display: block;
	font-size: 60px;
	left: 30%;
	list-style: none;
	color:white;
}
.title22 li{
	position: relative;
	font-size:20px;
	left: 30%;
	list-style: none;
	color:white;
}

.title22 a{
	position:relative;
	font-size: 20px;
	left:30%;
	color:white;
	text-decoration: None;
}

.title23 p{
        position: relative;
	text-align: left;
	align: left;
	display:block;
	font-size: 60px;
	left:30%;
	color:white;
}

.title23 li{
	position:relative;
	font-size: 20px;
	left:30%;
	color:white;
}

.title23 a{
	position:relative;
	font-size: 20px;
	left:30%;
	color:white;
}

.about span{
	position: relative;
	top:360px;
	left: 40%;
	font-size: 15px;
	color: white;
}

.music iframe{
	position: relative;
	top: 400px;
}
